<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allstar Exercise Tracker</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>

                {{#if loggedIn}}
                <a href="/dashboard">Track My Workouts</a>
                <button id="logout" class="btn-no-style logout">Log Out</button>
                {{/if}}

            </nav>
        </header>
        <div class="site-row">
            <div class="site-name">
                <h1>Allstar Exercise Tracker</h1>
            </div>
        </div>
        <main>
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="./js/logout.js">Logout</script>
    {{/if}}

</body>
</html>