<!---Displays chart of workouts-->
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="path/to/your/javascript/file.js"></script>
</head>
<div>
  <canvas id="myChart"></canvas>
</div>