<!--Workout tracking page-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<section class="new-post-section">
    <button type="submit" class="btn" id="create-new-post">+ Create New Post</button>
</section>


{{#if posts.length}}
<section>
    <h2>Workout Tracker</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
        </li>
        {{/each}}
    </ul>
    
    <!---Displays chart of workouts
    <div>
        <canvas id="myChart"></canvas>
    </div>
      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['monday', 'tuesday', 'wenesday', 'thrusday', 'friday', 'saturday', 'sunday'],
            datasets: [{
              label: '# of Steps',
                data: [2000, 4000, 6000, 8000, 10000, 12000, 14000, 16000],
              borderWidth: 2
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: false,
                min: 0,
                nax:400,
                stepSize: 1000
              }
            }
          }
        });-->


      </script>
</section>
{{/if}}

<script src="./js/create-post.js"></script>