<section class="login-page">
    <div class="form-heading">
        <h1>Login</h1>
    </div>
    <div class="form-section">
        <form class="login-form">
            <div>
                <label for="username-login">Username</label>
                <input type="text" class="entry-field" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="entry-field" id="password-login" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Submit</button>
            </div>
        </form>
    </div>
    <a href="/signup" class="sign-in-link">New user? Sign up!</a>

</section>

<!--Login with Facebook or Google
    <div class="line"></div>

        <div class="media-options">
           <a href="#" class="field facebook">
            <span>Login with Facebook</span>
           </a> 
        </div>

        <div class="media-options">
             <a href="#" class="field google">
                <span>Login with Google</span>
            </a>
        </div>
-->

<script src="/javascript/login.js"></script>

