<!--Login Page-->
<div class="login-page">      

        <div class="form-section">
            <form class="login-form">
                <div class="field input-field">
                    <input type="email" placeholder="Email"id="email-login">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password"id="password-login">
                    <i class='bx bxs-hide eye-icon'></i>
                </div>

                <div class="field button-field">
                    <button type="submit" class="login-signup-btn">Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account?</span> <a href="/signup" class="link signup-link">Signup</a> 
            </div>
        </div> 

        <div class="line"></div>

        <div class="media-options">
           <a href="#" class="field facebook">
            <span>Login with Facebook</span>
           </a> 
        </div>

        <div class="media-options">
             <a href="#" class="field google">
                <span>Login with Google</span>
            </a>
         </div>

    </div>

<script src="./js/login.js"></script>