<!-- <section class="login-page">
    <div class="form-heading">
        <h1>Login</h1>
    </div>
    <div class="form-section">
        <form class="login-form">
            <div>
                <label for="email-login">Email</label>
                <input type="text" class="entry-field" id="email-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="entry-field" id="password-login" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Submit</button>
            </div>
        </form>
    </div>

    <a href="/signup" class="sign-in-link">Sign up</a>
</section>

<script src="/javascript/login.js"></script> -->



<div class="form login">
        <div class="form-content">
            <header>Login</header>

            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email"class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password"class="password">
                    <i class='bx bxs-hide eye-icon'></i>
                </div>

                <div class="form-link">
                   <a href="" class="forgot-pass">Forgot password?</a> 
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>

            </form>

            <div class="form-link">
                <span>Don't have an account?</span> <a href="#" class="link signup-link">Signup</a> 
               </div>
        </div> 

        <div class="line"></div>

        <div class="media-options">
           <a href="#" class="field facebook">
            <i class='bx bxl-facebook facebook-icon'></i>
            <span>Login with Facebook</span>
           </a> 
        </div>

        <div class="media-options">
            <a href="#" class="field gmail">
                <i class='bx bxl-gmail gmail-icon'></i>
             <span>Login with Gmail</span>
            </a> 
         </div>

    </div>
