<section class="sign-in-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <div class="form-section">
        <form class="signup-form">
            <div>
                <label for="email-signup">Enter your Email</label>
                <input type="text" class="entry-field" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">Create a Password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Submit</button>
            </div>
        </form>
    </div>

    <a href="/login" class="login-link">Back to Login</a>
</section>

<script src="./public/js/signup.js"></script>